RewriteEngine On

RewriteRule ^owner$ admin.php

RewriteRule ^owner/site/add$ admin.php?a=addSite
RewriteRule ^owner/site/edit/([0-9]+)$ admin.php?type=editsite&siteId=$1
RewriteRule ^owner/site/saveedit/([0-9]+)$ admin.php?type=editsite&a=editSite&siteId=$1
RewriteRule ^owner/site/delete/([0-9]+)$ admin.php?type=editsite&a=deleteSite&siteId=$1

RewriteRule ^owner/([0-9]+)/menu$ admin.php?type=menu&siteId=$1
RewriteRule ^owner/([0-9]+)/menu/add$ admin.php?type=menu&siteId=$1&a=addElementMenu
RewriteRule ^owner/([0-9]+)/menu/delete/([0-9]+)$ admin.php?type=menu&siteId=$1&a=deleteMenu&menuId=$2

RewriteRule ^owner/([0-9]+)/page$ admin.php?type=page&siteId=$1
RewriteRule ^owner/([0-9]+)/page/new$ admin.php?type=addpage&siteId=$1
RewriteRule ^owner/([0-9]+)/page/add$ admin.php?type=addpage&siteId=$1&a=addPage
RewriteRule ^owner/([0-9]+)/page/edit/([0-9]+)$ admin.php?type=editpage&siteId=$1&pageId=$2
RewriteRule ^owner/([0-9]+)/page/saveedit/([0-9]+)$ admin.php?type=editpage&siteId=$1&a=editPage&pageId=$2
RewriteRule ^owner/([0-9]+)/page/delete/([0-9]+)$ admin.php?type=page&siteId=$1&a=deletePage&pageId=$2

RewriteRule ^owner/([0-9]+)/template/list$ admin.php?type=listTemplate&siteId=$1
RewriteRule ^owner/([0-9]+)/template/set/([0-9]+)$ admin.php?type=listTemplate&siteId=$1&a=setTemplate&templateId=$2
RewriteRule ^owner/([0-9]+)/template/customise$ admin.php?type=customiseTemplate&siteId=$1

RewriteRule ^owner/([0-9]+)/user$ admin.php?type=user&siteId=$1
RewriteRule ^owner/([0-9]+)/user/add$ admin.php?type=user&siteId=$1&a=addUser
RewriteRule ^owner/([0-9]+)/user/edit/([0-9]+)$ admin.php?type=user&siteId=$1&a=showEditUser&userId=$2
RewriteRule ^owner/([0-9]+)/user/saveedit/([0-9]+)$ admin.php?type=user&siteId=$1&a=editUser&userId=$2
RewriteRule ^owner/([0-9]+)/user/delete/([0-9]+)$ admin.php?type=user&siteId=$1&a=deleteUser&userId=$2

RewriteRule ^owner/profile$ admin.php?type=profile
RewriteRule ^owner/message$ admin.php?type=message
RewriteRule ^owner/login$ admin.php
RewriteRule ^owner/logout$ admin.php?a=logout

RewriteRule ^([0-9]+)$ index.php?siteId=$1
RewriteRule ^([0-9]+)/([a-z0-9]{10,}.html)$ index.php?siteId=$1&pageId=$2